.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bs-info-bg-opacity-10);
}

.user-profile-card {
  max-width: 600px;
  margin: auto;
}
